table caption.captionTop {
    caption-side: top;
}

.botPanel .content {
    max-height: 50vh;
    overflow: auto;
}

.btn_iconOnly .MuiButton-icon,
.btn_iconOnly .MuiButton-startIcon {
    margin-right: 0;
    margin-left: 0;
}

.btns_state_control {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.btns_state_control button:first-child {
    margin-left: 0;
}

.btns_state_control button {
    margin-left: 0.3em;
    min-width: 0;
}

.pairPanel .content {
    height: 100%;
    min-height: 300px;
    max-height: 40vh;
    overflow: auto;
}

/* .pairOrders {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pairOrders .tableWrap {
    max-height: 49%;
    overflow: auto;
}

.pairOrders .tableWrap + .tableWrap {
    margin-top: 2%;
} */